#empresas{
	width:960px;
	overflow: hidden;
	height: 100px;
	padding: 5px;
}
#titulo-empresas{
	text-align: center;
}
#empresas img{
	-webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    transition: 2s ease-out;
}
/* Multiplicar por 320 cada logo "de más" que haya en la imagen de empresas */
#empresas img:hover{
	-moz-transform: translateX(-640px);
    -webkit-transform: translateX(-640px);
    transform: translateX(-640px);
}