/* ESTILOS GENERALES DE LA PAGINA*/
#form {
    padding: 1vw 0 5vw 0;
}

/* REMOVE STYLE FOCUS*/
*:focus {
    outline: none;
}

body {
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
}

/* CABECERA DEL FORM*/
#header-form {
    font-weight: 300;
    color: #232323;
    margin: 0;
    display: inline;
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}

/* ESTILOS DEL FORM*/
#form label {
    width: 180px;
    margin-top: 3px;
    float: left;
    padding: 3px;
}

#name, #surname1, #surname2, #email, #phone, #mobil {
    height: 40px;
    width: 220px;
    padding: 5px 8px;
}

#form textarea {
    padding: 8px;
    width: 400px;
}

#form button {
    margin-left: 50%;
}
#form select {
    width: 200px;
    padding: 5px;
    border-radius: 0;
    height: 34px;
    overflow: hidden;
    background: url('../img/down_arrow.jpg') no-repeat right #ffffff;
    border: 1px solid #000000;
    -webkit-appearance: none;
}
#form select:disabled {
    opacity: 0.1;
}

#form input, #form textarea {
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

#form input:focus, #form textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
/* PLACEHOLDER */
:-moz-placeholder {
    color: #849797;
}

::-webkit-input-placeholder {
    color: #849797;
}
/* BUBBLE MESSAGE */
::-webkit-validation-bubble-message {
    padding: 1em;
}
/* ESTILOS DE LA LISTA */
#form ul {
    width: 960px;
    margin: 0;
    padding: 0;
}

#form li {
    padding: 10px;
    border-bottom: 1px solid #c2d6d6;
    position: relative;
}
/* ESTILOS PARA VERIFICAR LOS CAMPOS*/
#form input:required, #form textarea:required {
    background: #fff url(../img/red_asterisk.png) no-repeat 98% center;
}
#form input:focus:invalid,  #form textarea:focus:invalid {
    background: #fff url(../img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
#form input:required:valid,  #form textarea:required:valid {
    background: #fff url(../img/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
