/* ESTILOS DE LA SECCIÓN 'SERVICIOS' */

#services .intro-image{
	background-image: url("../img/services.jpg");
    background-size: 100%;	
}
#services-main {
    background-color: #006e9d;
    color: #fff;
}
#services-secundary {
    background-color: #f7f7f7;
}
#services-main h2, #services-secundary h2 {
    margin-bottom: 0;
}
#services-secundary h3{
    text-align: center;
}
#services-secundary img{
    width: 100%;
}
